.main {
  background-color: #f2dcc9;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  max-height: 100dvh;
  width: 100%;
}

.resultsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: none;
  border: 5px solid #121312;
  border-radius: 15px;
  padding: 10px;
  height: fit-content;
  width: 25vw;
}

.title {
  color: #ad0013;
}

.celeb {
  color:#ad0013
}

.newGame {
  color: #f2dcc9;
}

.newGame:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 30px #121312;
}

.main:has(.newGame:hover) {
  transition: background 1s ease-out;
  background: #121312;
}

.logo {
  width: 20vw;
  height: 20dvw;
  height: auto;
  cursor: pointer;
  transition: all 0.4s ease-out;
  border-radius: 10px;
  border: 2px solid #121312;
}

.main:has(.logo:hover) {
  background: #121312;
  /* transform-origin: 0% 50%;
  transition-property: left top; */
  transition: background 0.7s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 30px #121312;
}

.resumeBox {
  display: flex;
  flex-direction: row;
  background-color: #ad0013;
  height: 15vh;
  width: fit-content;
  padding: 10px;
  gap: 10px;
  border-radius: 5px;
}

.button {
  color: #ead6be;
  background: #121312;
}

.button:hover {
  transform: scale(1.05);
}
