.main {
  background-color: #f2dcc9;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  max-height: 100dvh;
  width: 100%;
}

.logo {
  width: 20vw;
  height: 20dvw;
  height: auto;
  cursor: pointer;
  transition: all 0.4s ease-out;
  border-radius: 10px;
  border: 2px solid #121312;
}

.main:has(.logo:hover) {
  background: #121312;
  /* transform-origin: 0% 50%;
  transition-property: left top; */
  transition: background 0.7s ease-out;
}

.logo:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 30px #121312;
}
