main {
  background-color: #121312;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(3, 3fr);
  gap: 9px;
  width: 40dvmin;
  height: 40dvmin;
  padding: 40px;
  border: 7px solid #ad0013;
  border-radius: 50px;
}

.field {
  color: #121312;
  font-size: 20px;
}
