.main {
  background-color: #121312;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  max-height: 100dvh;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  background-color: #ead6be;
  border: 2px solid #ad0013;
  border-radius: 5px;
  height: 45vh;
  align-items: center;
  justify-content: space-evenly;
  width: 25vw;
  gap: 10px;
  padding: 6px;
}

.text {
  color: #ad0013;
}

.playerSettings {
  display: flex;
  flex-direction: row;
  gap: 5px;
  border-radius: 7px;
  background-color: #ad0013;
  padding: 5px;
}

.color {
  background: none;
  border: none;
  cursor: pointer;
}

.name {
  color: #ead6be;
  background: none;
  border: none;
}

.button {
  color: #ead6be;
  background: #121312;
}

.playerSettings:has(.color:hover, .name:hover) {
  transform: scale(1.05);
}

.button:hover {
  transform: scale(1.05);
}
