.legend {
  display: flex;
  gap: 14dvw;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.legend__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10dvmin;
}

.text {
  font-size: 25px;
}
/* .legend_item_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 4px;
} */
